.venv
.DS_Store
.vscode/settings.json

# API credentials written by setup_env.py - never commit
.env

# Per-app credential/state files written by web apps - never commit
web_apps/*/config.json
web_apps/*/profiles.json

# Python caches
__pycache__/
*.pyc
